<div class="container py-5 h-100">
  <div class="row align-items-center">
    <div class="col-md-6 mb-4 mb-md-0">
      <h1 class="fw-bold display-5">Happy reading, User</h1>
      <p class="text-muted fs-5">
        Wow! You’ve delved deep into the world of stories.<br>
        Not sure where to start? Just tap below and let’s begin!
      </p>
      <button class="btn btn-dark btn-lg mt-2">
        Start Reading <i class="fa-solid fa-arrow-right text-white bg-dark"></i>
      </button>
    </div>

    <div class="col-md-6 text-center">
      <img src="assets/images/homePageImages/Book.png" alt="Open Book" class="img-fluid book-shadow">
    </div>
  </div>
</div>
