<div class="container d-flex flex-column align-items-center justify-content-center min-vh-100 text-center">
  <img src="assets/images/pageNotFound/404.png" alt="404 Ostrich" class="img-fluid " style="max-width: 550px;">

  <h1 class="display-4 fw-bold heading">Oops! Lost in the library?</h1>
  <p class="lead">
    The page you’re looking for buried itself... just like that ostrich.<br>
    Let’s dig you out and get back on track!
  </p>

  <a routerLink="/" class="btn btn-dark mt-3">Back to Home →</a>
</div>
